<br>
<br>
<div class="col">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col">
            <div class="d-flex justify-content-center">
                <h1 class="text-white">VAYA!, parece que la página que buscas no existe</h1>
            </div>
            <div class="d-flex justify-content-center">
                <button routerLink="/Home">Ir a la página principal</button>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>
