<br>
  <div class="col">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 noticiascss">
        <h1>Previsualizacion de Noticia</h1>
        <hr>
        <h2 [innerHTML]="titulo | safe: 'html'"></h2>
        <div *ngIf="this.img!='blank' && this.select==false">
        <img src="{{img}}"/>
        </div>
        <div *ngIf="this.select==true">
          <img [src]="'data:image/png;base64, '+this.img | safe: 'url'" class="wi100"/>
        </div>
        <h3 [innerHTML]="subtitulo | safe: 'html'"></h3>
        <p [innerHTML]="cuerpo | safe: 'html'"></p>
        <br>
        <br>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-2"></div>
    <div class="col-4 noticiascss">
      <h1 class="">Titulo</h1>
        <input type="text" placeholder="Un titulo ..."[(ngModel)]="titulo"/>
        <br>
        <h2 class="">Subtitulo</h2>
        <input type="text" placeholder="Un subtitulo ..." [(ngModel)]="subtitulo">
        <br>
    </div>
    <div class="col-4 noticiascss">
      <h2 class="">Imagen</h2>
      <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" accept="image/*" class="custom-file-input" id="inputGroupFile02" (change)="handleFileSelect($event)">>
          <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02"></label>
        </div>
        <div class="input-group-append">
          <span class="input-group-text" id="inputGroupFileAddon02">Subir</span>
        </div>
      </div>
      <br>
      <h2 class="">Categoría</h2>
      <select name="categoria"  id="cat" [(ngModel)]="categoria">
        <option selected>Videojuegos</option>
        <option>Tecnologia</option>
        <option>Offtopic</option>
      </select>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 noticiascss">
      <h2>Cuerpo</h2>
      <div class="">
        <app-ngx-editor  [config]="config" style="background-color: white;" 
        [placeholder]="'Añade un mensaje aquí...'" [spellcheck]="true" [(ngModel)]="cuerpo">
        </app-ngx-editor>
      </div>
      <br>
      <button class="btn btn-primary" (click)="publicar()"type="button">Actualizar Noticia</button>
    </div>
    <div class="col-2"></div>
  </div>