<div class="col">
  <div class="row">
    <!--Banner-->
    <!--<div class="col-1"></div>
    <div class="col-10">
      <div>
        <img src="https://i.pinimg.com/originals/1b/29/7b/1b297b4b4af6aaab6a5a621cf460291f.jpg" class="img-fluid">
      </div>
    </div>
    <div class="col-1"></div>-->
  </div>
  <br>
  <div class="row">
    <div class="col-1">
    </div>
    <!--Lista de Noticias-->
    <div class="col-7">
      <div *ngFor="let noticia of noticias | paginate: { id: 'listaNoticias',
      itemsPerPage: tpp,
      currentPage: p
      } let i = index;">
      <div class="card" routerLink="/Noticias/{{noticia.id}}">
        <div class="card-body">
          <h5 class="card-title">{{noticia.titulo}}</h5>
        <p class="card-text">{{noticia.subtitulo}}</p>
        </div>
      </div>
      <br>
      <div class="noticiascss" *ngIf="i==tpp-1 || p > 1 && (p*tpp+i-tpp) == noticias.length-1">
        <pagination-controls id="listaNoticias"
          (pageChange)="pageChanged($event)"
          (pageBoundsCorrection)="pageChanged($event)"
          maxSize="9"
          directionLinks="true"
          autoHide="true"
          responsive="true"
          previousLabel="Atras"
          nextLabel="Siguiente"
          screenReaderPaginationLabel="Pagination"
          screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page">
        </pagination-controls>
      </div>
    </div>
    </div>
    <!--Lista de Categorías-->
    <div class="col-3">
      <ul class="list-group">
        <li class="list-group-item" routerLink="/ListaNoticias/UltimasNoticias">
          <div class="md-v-line"></div><i class="fas fa-newspaper mr-5"></i>Últimas Noticias
        </li>
        <li class="list-group-item" routerLink="/ListaNoticias/Videojuegos">
          <div class="md-v-line"></div><i class="fas fa-gamepad mr-5"></i>Videojuegos
        </li>
        <li class="list-group-item" routerLink="/ListaNoticias/Tecnologia">
          <div class="md-v-line"></div><i class="fas fa-memory mr-5"></i>Tecnología
        </li>
        <li class="list-group-item" routerLink="/ListaNoticias/Offtopic">
          <div class="md-v-line"></div><i class="fas fa-mug-hot mr-5"></i>Offtopic
        </li>
        <li class="list-group-item" routerLink="/ForoCategorias">
          <div class="md-v-line"></div><i class="fas fa-comments mr-5"></i>Foro
        </li>
      </ul>
    </div>
    <div class="col-1"></div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 ">
        
      </div>
      <div class="col-2"></div>
      <!--<div class="col-2"></div>
      <div class="col-8">
        <pagination-controls  id="listaNoticias"
          (pageChange)="pageChanged($event)"
          (pageBoundsCorrection)="pageChanged($event)"
          maxSize="9"
          directionLinks="true"
          autoHide="true"
          responsive="true"
          previousLabel="Atras"
          nextLabel="Siguiente"
          screenReaderPaginationLabel="Pagination"
          screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page">
        </pagination-controls>
      </div>
      <div class="col-2"></div>-->
    </div>
</div>