<div class="col">
  <div class="row">
    <!--Banner-->
    <div class="col-1"></div>
    <div class="col-10">
      <div>
        <img src="http://localhost:3000/api/images/images/download/lobo.jpg" class="img-fluid">
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-1">
    </div>
    <!--Lista de Noticias-->
    <div class="col-7">
      <div *ngFor="let noticia of noticias | paginate: { id: 'listaNoticias',
      itemsPerPage: tpp,
      currentPage: p
      } let i = index;">
      <a routerLink="/Noticias/{{noticia.id}}" style="color:black">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{noticia.titulo}}</h5>
          <p class="card-text">{{noticia.subtitulo}}</p>
          </div>
        </div>
      </a>
      <br>
      <div class="noticiascss" *ngIf="i==tpp-1 || p > 1 && (p*tpp+i-tpp) == noticias.length-1">
        <pagination-controls id="listaNoticias"
          (pageChange)="pageChanged($event)"
          (pageBoundsCorrection)="pageChanged($event)"
          maxSize="9"
          directionLinks="true"
          autoHide="true"
          responsive="true"
          previousLabel="Atras"
          nextLabel="Siguiente"
          screenReaderPaginationLabel="Pagination"
          screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page">
        </pagination-controls>
      </div>
    </div>
    </div>
    <!--Lista de Categorías-->
    <div class="col-3">
      <div class="container">
        <ul class="list-group">
          <a routerLink="/ListaNoticias/UltimasNoticias" style="color:black">
            <li class="list-group-item">
              <div class="md-v-line"></div><i class="fas fa-newspaper mr-5"></i><b class="mobile">Últimas Noticias</b>
            </li>
          </a>
          <a routerLink="/ListaNoticias/Videojuegos" style="color:black">
            <li class="list-group-item">
              <div class="md-v-line"></div><i class="fas fa-gamepad mr-5"></i><b class="mobile">Videojuegos</b>
            </li>
          </a>
          <a routerLink="/ListaNoticias/Tecnologia" style="color:black">
            <li class="list-group-item">
              <div class="md-v-line"></div><i class="fas fa-memory mr-5"></i><b class="mobile">Tecnología</b>
            </li>
          </a>
          <a routerLink="/ListaNoticias/Offtopic" style="color:black">
            <li class="list-group-item">
              <div class="md-v-line"></div><i class="fas fa-mug-hot mr-5"></i><b class="mobile">OffTopic</b>
            </li>
          </a>
          <a routerLink="/ForoCategorias" style="color:black">
            <li class="list-group-item">
              <div class="md-v-line"></div><i class="fas fa-comments mr-5"></i><b class="mobile">Foro</b>
            </li>
          </a>
        </ul>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 ">
        
      </div>
      <div class="col-2"></div>
      <!--<div class="col-2"></div>
      <div class="col-8">
        <pagination-controls  id="listaNoticias"
          (pageChange)="pageChanged($event)"
          (pageBoundsCorrection)="pageChanged($event)"
          maxSize="9"
          directionLinks="true"
          autoHide="true"
          responsive="true"
          previousLabel="Atras"
          nextLabel="Siguiente"
          screenReaderPaginationLabel="Pagination"
          screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page">
        </pagination-controls>
      </div>
      <div class="col-2"></div>-->
    </div>
</div>