<br>
<div class="col">
    <div *ngFor = "let noticia of noticias | paginate: { id: 'listaNoticias',
    itemsPerPage: 10,
    currentPage: p
    } let i = index;">
        <div class="col">
            <a routerLink="/Noticias/{{noticia.id}}">
            <div class="row capa border border-dark rounded">
                <div class="mx-auto">
                    <img src="{{noticia.img}}" class="rounded float-left img-fluid iconoticias" alt="">
                </div>
                <div class="col text-white">
                    <h1>{{noticia.titulo}}</h1>
                    <h3>{{noticia.subtitulo}}</h3>
                </div>
                
            </div>
        </a>
        <div *ngIf='rol=="admin"'>
            <button class="btn btn-danger" type="button" (click)="Eliminar(i)">X</button>
        </div>
        </div>
        <br>
    </div>
</div>
<div class="capa">
<pagination-controls  id="listaNoticias"
                      (pageChange)="pageChanged($event)"
                      (pageBoundsCorrection)="pageChanged($event)"
                      maxSize="9"
                      directionLinks="true"
                      autoHide="true"
                      responsive="true"
                      previousLabel="Previous"
                      nextLabel="Next"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page">
</pagination-controls>
</div>