<br>
<!--Subscripción-->
<br>
<div class="container">
<div class="row">
<div class="col-1">

</div>
<!-- Material form subscription -->
<div class="col-10">
<!-- Default form subscription -->
<form class=" text-white capa border border-danger p-5">
    <h1 class="text-white">Sign in</h1>
<div class="form-group">
  
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="mail" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">User name</label>
              <input type="text" class="form-control" id="exampleInputUserName1" aria-describedby="emailHelp" placeholder="User Name" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="pass1" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Confirm Password</label>
                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password" [(ngModel)]="pass2" [ngModelOptions]="{standalone: true}">
            </div>
            <button type="submit" class="btn btn-primary mb-1" (click)='submit()'>Submit</button>
    </form>
    <!-- Default form subscription -->
</div>
</div>
<br>
<br>
