<br>
<br>
<div class="container">
<div class="row">
<div class="col">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 noticiascss">
      <form>
        <h1><b>Crear admin</b></h1>
        <br>
        <h6>Crea otro usuario administrador</h6>

        <div class="md-form">
          <i class="fas fa-envelope prefix"></i>
          <input type="text" id="inputIconEx1" class="form-control" [(ngModel)]="mail" [ngModelOptions]="{standalone: true}">
          <label for="inputIconEx1">Correo electrónico</label>
        </div>
        <div class="md-form">
          <i class="fas fa-user prefix"></i>
          <input type="text" id="inputIconEx2" class="form-control" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
          <label for="inputIconEx2">Escribe nombre de usuario</label>
        </div>
        <div class="md-form">
          <i class="fas fa-lock prefix"></i>
          <input type="password" id="inputValidationEx2" class="form-control validate" [(ngModel)]="pass1" [ngModelOptions]="{standalone: true}">
          <label for="inputValidationEx2" data-error="wrong" data-success="right">Escribe la contraseña</label>
        </div>
        <div class="md-form">
          <i class="fas fa-lock prefix"></i>
          <input type="password" id="inputValidationEx2" class="form-control validate" [(ngModel)]="pass2" [ngModelOptions]="{standalone: true}">
          <label for="inputValidationEx2" data-error="wrong" data-success="right">Repite la contraseña</label>
        </div>
        <button type="submit" class="btn btn-elegant mb-1" (click)='submit()'>Resgistrar admin</button>
        <br>
        <br>
      </form>
    </div>
    <div class="col-1"></div>
  </div>
</div>
