<br>
<div class="col">
<div class="row">
<div class="col-1">
</div>

<div class="col">
  <a routerLink="/Foro/Videojuegos">
  <div class="row capa border border-dark rounded">
    <div class="mx-auto">
      <img src="imagen categoria" class="rounded float-left img-fluid iconoticias" alt="">
    </div>
    <div class="col text-white">
      <h1>Videojuegos</h1>
      <h3>Aqui puedes encontrar diferentes hilos sobre opiniones de videojuegos y mas</h3>
      <div>
    </div>
    </div>
  </div>
</a>
  <br>
  <a routerLink="/Foro/Tecnologia">
  <div class="row capa border border-dark rounded">
    <div class="mx-auto">
      <img src="imagen categoria" class="rounded float-left img-fluid iconoticias" alt="">
    </div>
    <div class="col text-white">
      <h1>Tecnología</h1>
      <h3>Aquí podras opinar encontrar análisis de los usuarios sobre productos tecnológicos, opiniones ...</h3>
      <div>
    </div>
    </div>
  </div>
</a>
  <br>
  <a routerLink="/Foro/Offtopic">
  <div class="row capa border border-dark rounded">
    <div class="mx-auto">
      <img src="imagen categoria" class="rounded float-left img-fluid iconoticias" alt="">
    </div>
    <div class="col text-white">
      <h1>Off-topic</h1>
      <h3>¡Un poco de todo!</h3>
      <div>
    </div>
    </div>
  </div>
</a>
  <br>
  </div>
  <div class="col-1"></div>

