<!-- Footer -->
<footer class="page-footer font-small #212121 grey darken-4 pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Información General</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Sobre nosotros</a>
            </li>
            <li>
              <a href="#!">Contacto</a>
            </li>
            <li>
              <a href="#!">Información Legal</a>
            </li>
            <li>
              <a href="#!">Publicidad</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Secciones</h5>

          <ul class="list-unstyled">
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="Noticias-Tecnología.html">Tecnología</a>
            </li>
            <li>
              <a href="Videojuegos-Noticias.html">Videojuegos</a>
            </li>
            <li>
              <a href="#!">Videos/Cosplays</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Noticias destacadas</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Red Dead Redemption 2</a>
            </li>
            <li>
              <a href="Artículos-BattlefieldV.htm">Battlefield V</a>
            </li>
            <li>
              <a href="#!">Gris</a>
            </li>
            <li>
              <a href="#!">League of Legends</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <hr>
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a href="https://es-es.facebook.com/" class="btn-floating btn-fb mx-1">
          <i class="fa fa-facebook"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://twitter.com/?lang=es" class="btn-floating btn-tw mx-1">
          <i class="fa fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://plus.google.com/about?hl=es" class="btn-floating btn-gplus mx-1">
          <i class="fa fa-google-plus"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="#"> MediaWolf Entertainment</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
