<div class="container">
  <br>
    <div>
        <div class="container noticiascss">
            <div class="row">
                <div class="col-1"></div>
              <div class="col-10">
                <br>
                <h1 style="color:rgb(255, 255, 255)">Este es el titulo de la noticia</h1>
                <br>
                <div class="row">
                    <div class="mx-auto"><img class="img-fluid" src="http://es.web.img2.acsta.net/c_640_360/newsv7/19/12/10/12/07/3301050.jpg"></div>
                </div>
                <br>
                <h2 style="color: #ffffff">Este es el subtitulo de la noticia</h2>
                <p style="color:rgb(255, 255, 255)">Esto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto 
                  es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una not
                  iciaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es e
                  l cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto
                   es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una notici
                   aEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es e
                   l cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una notic
                   iaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo
                    de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una notici
                    aEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cue
                    rpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una not
                    iciaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el
                     cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una
                      noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto
                       es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de 
                       una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaE
                       sto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de 
                       una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es e
                  l cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticia
                  Esto es el cuerpo de una noticiaEsto es el cuerpo de una noticiaEsto es el cuerpo de una noticia</div>
            </div>
            <h2 style="color: #ffffff">{{noticia.subtitulo}}</h2>
            <p style="color:rgb(255, 255, 255)">{{noticia.cuerpo}}</div>
        </div>
      </div>
      <br>
      <div>
          <div class="container noticiascss">
            <br>
              <div class="row">
                <div class="col-1"><img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="rounded-circle z-depth-0"
                  data-toggle="dropdown" alt="avatar image" height="35"></div>
                <div class="col-10">
                  
                  <div class="row">
                  <h2 style="color: #ffffff">Nick</h2>
                  <br>
                  <p style="color:rgb(255, 255, 255)">Esto es el cuerpo de un comentario Esto es el cuerpo
                     de un comentarioEsto es el cuerpo de un comentarioEsto es el cuerpo de un comentarioEsto es el cuerpo de un comentarioEsto es el cuerpo de un comentarioEsto es el cuerpo de un comentarioEsto es el cuerpo de un comentarioEsto
                      es el cuerpo de un comentarioEsto es el cuerpo de un comentarioEsto es el cuerpo de un comentarioEsto es el cuerpo de un comentarioEsto es 
                    el cuerpo de un comentario</div>
                  </div>
              </div>
            </div>
            <br>
      </div>
</div>