<div class="container videojuegos">
    <div>
        <div class="row">
          <div class="col-1"><img class="img-fluid" src="image/iconopeq.svg "></div>
          <div class="col-10">
            <h1 style="color:rgb(255, 255, 255)" ;="">titulo</h1>
            <div class="row">
                <div class="mx-auto"><img class="img-fluid" src="image/post2/batman_arkham_3-4739571.jpg"></div>
            </div>
            <h2 style="color: #ffffff" ;="">subtitulo</h2>
            <p style="color:rgb(255, 255, 255)" ;="">cuerpo</div>
        </div>
      </div>
      <br>
</div>