<div class="container">
  <br>
    <div>
        <div class="container noticiascss">
            <div class="row">
                <div class="col-1"></div>
              <div class="col-10">
                <br>
                <h1 style="color:rgb(255, 255, 255)">{{noticia.titulo}}</h1>
                <br>
                <div class="row">
                    <div class="mx-auto"><img class="img-fluid" src="{{noticia.img}}"></div>
                </div>
                <br>
                <h2 style="color: #ffffff">{{noticia.subtitulo}}</h2>
                <p style="color:rgb(255, 255, 255)">{{noticia.cuerpo}}</div>
            </div>
          </div>
    </div>
      <br>
      <div class="container noticiascss">
        <div class="row">
        <div class="col-1">
        </div>
        <div class="col-9">
          <h1 style="color:rgb(255, 255, 255)">Comentarios</h1>
          <div class="row">
            <div *ngIf="this.isButtonVisible">
              <div style="background-color: #ffffff;">
                <app-ngx-editor style="background-color: white;" 
                [placeholder]="'Añade un mensaje aquí...'" [spellcheck]="true" [(ngModel)]="comentarioW">
                </app-ngx-editor>
              </div>
              <br>
              <br>
              <button class="btn btn-success" type="button" (click)="Publicar()">Publicar</button>
            </div>
          </div>
          <br>
        </div>
        <div class=" col-1 float-right"><button class="btn btn-success" type="button" (click)="this.isButtonVisible = !this.isButtonVisible">¡Comenta!</button></div>
      </div>
    </div>
      <br>
      <div>
          <div class="container noticiascss" *ngFor="let comen of comentarios">
            <br>
              <div class="row">
                <div class="col-1"><img src="{{comen.icono}}" class="rounded-circle z-depth-0"
                  data-toggle="dropdown" alt="avatar image" height="35"></div>
                <div class="col-10">
                  
                  <div class="row">
                    <div><h2 style="color: #ffffff">{{comen.nick}}</h2>
                      <p style="color:rgb(255, 255, 255)" [(innerHTML)]=comen.cuerpo></div></div>
                  </div>
              </div>
            </div>
            <br>
      </div>
</div>