<!--Navbar-->
<header>
  <div class="col">

<nav class="navbar navbar-dark bg-info navbar-expand-lg rounded">
    <a class="navbar-brand" href="#">Mediawolf</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Home">Noticias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Foro</a>
        </li>
      </ul>
      <div [ngSwitch]="logged">
        <div *ngSwitchCase="false">
      <span class="navbar-text">
        <a routerLink="/SignIn" routerLinkActive="active">
          <button class="btn btn-success" type="button">Registrate!</button>
        </a>
      </span>
      <span class="navbar-text">
        <a routerLink="/LogIn" routerLinkActive="active">
            <button class="btn btn-primary" type="button">Inicia Sesion</button>
          </a>
          </span>
        </div>
        <div *ngSwitchCase="true">
            <span class="navbar-text ">
                <a routerLink="/User" routerLinkActive="active">
                  <img class="rounded-circle img-fluid icono" 
                  src="https://images.wallpaperscraft.com/image/deer_art_vector_134088_1920x1080.jpg" alt="">
                </a>
              </span>
        </div>
      </div>
    </div>
  </nav>
</div>
</header>
