<div class="row">
    <div class="col-6">
        <div style="background-color: #ffffff;">
            <app-ngx-editor style="background-color: white;" 
            [placeholder]="'Añade un mensaje aquí...'" [spellcheck]="true" [(ngModel)]="nuevanoticia">
            </app-ngx-editor>
          </div>
          <button class="btn btn-primary" type="button">Publicar Noticia</button>
    </div>
    <div class="col-6">
       <h1>PreVisualizacion de Noticia</h1>
       <div class="container noticiascss">
        <div class="row" class="text-white">
            <p [(innerHTML)]=nuevanoticia></p>
        </div>
      </div>
    </div>
</div>
