/* You can add global styles to this file, and also import other style files */
html,body{
    /*background-image: url("assets/fondo.png");*/
    background-image: url("http://localhost:3000/api/images/images/download/fondo.png");
}

.capa{
    background-color: hsla(0, 0%, 0%, 1);
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.icono{
    max-height:50px;
    max-width: 50px;
}
.wi100{
    width: 100%;
    max-width: 250px;
    height: auto;
}

.iconoticias{
   /* min-height: 196px;
    max-height:196px;
    min-width: 270px;
    max-width: 270px;
    min-height: 96px;
    max-height:96px;
    min-width: 170px;
    max-width: 170px;*/
    vertical-align: middle ;
}
.foto {
    width: 170px;
    height: 96px;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}
.iconocartas{
    min-height: 350px;
    max-height:350px;
    min-width: 650px;
    max-width: 650px;
}
.iconoredes{
    min-height: 25px;
    max-height:25px;
    min-width: 25px;
    max-width: 25px;
}
.centrado{
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
.noticiascss{
    /*background-color: rgba(0, 0, 0, 0.6);*/
    background-color: rgba(255, 255, 255, 1);
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
@media(max-width: 767.98px) { 
    .mobile {
        display:none
    }
}