/* You can add global styles to this file, and also import other style files */
html,body{
    background-image: url("assets/fondo.png");
}

.capa{
    background-color: hsla(0, 0%, 0%, 0.40);
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.icono{
    max-height:50px;
    max-width: 50px;
}
.iconoticias{
    min-height: 196px;
    max-height:196px;
    min-width: 270px;
    max-width: 270px;
}
.iconocartas{
    min-height: 350px;
    max-height:350px;
    min-width: 650px;
    max-width: 650px;
}
.iconoredes{
    min-height: 25px;
    max-height:25px;
    min-width: 25px;
    max-width: 25px;
}
.centrado{
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
.noticiascss{
    background-color: rgba(0, 0, 0, 0.8);
}