/* You can add global styles to this file, and also import other style files */
html,body{
    background-image: url("assets/fondo.png");
    height: 100%;
    
}

.capa{
    background-color: hsla(0, 0%, 0%, 0.40);
}
.footer{
    background-color: darkcyan;
   /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;*/
}
.icono{
    max-height:50px;
    max-width: 50px;
}
.iconoticias{
    min-height: 196px;
    max-height:196px;
    min-width: 270px;
    max-width: 270px;
}