<!--
>br>

  <div class="col">
    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-5 noticiascss">
          <div>
            <h1 class="">Titulo</h1>
          <input type="text" placeholder="Un titulo ..."[(ngModel)]="titulo"/>
          <br>
          <h2 class="">Categoría</h2>
          <select name="categoria"  id="cat" [(ngModel)]="categoria">
            <option selected>Videojuegos</option>
            <option>Tecnologia</option>
            <option>Offtopic</option>
          </select>
          <h2 class="text-white">Cuerpo</h2>
            <div class="">
                <app-ngx-editor  style="background-color: white;" 
                [placeholder]="'Añade un mensaje aquí...'" [spellcheck]="true" [(ngModel)]="cuerpo">
                </app-ngx-editor>
              </div>
              <button class="btn btn-primary" (click)="subirPost()"type="button">Publicar Noticia</button>
        </div>
          </div>
         <div class="col-1">
         </div>
    </div>
    </div>
<br>
<br>
<br>
<br>
<br>
  -->
  <br>
  <div class="col">
    <div class="row">
      <div class="col-2"></div>
    <div class="col-4 noticiascss">
      <h1><b>Crear post</b></h1>
      <h3 class="">Titulo</h3>
        <input type="text" placeholder="Un titulo ..."[(ngModel)]="titulo"/>
        <br>
        <h3 class="">Categoría</h3>
        <select name="categoria"  id="cat" [(ngModel)]="categoria">
        <option selected>Videojuegos</option>
        <option>Tecnologia</option>
        <option>Offtopic</option>
      </select>
    </div>
    <div class="col-4 noticiascss">
    </div>
    <div class="col-2"></div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 noticiascss">
      <h3>Cuerpo</h3>
        <div class="">
          <app-ngx-editor  style="background-color: white;" 
            [placeholder]="'Añade un mensaje aquí...'" [spellcheck]="true" [(ngModel)]="cuerpo">
          </app-ngx-editor>
        </div>
        <button class="btn btn-primary" (click)="subirPost()"type="button">Publicar post</button>
    </div>
    <div class="col-2"></div>
  </div>